{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
{# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}
    
<div class="globalContainer">
    <div class="globalWrapper">
        <!--Cart with products -->
        <h2>Panier</h2>
        <!-- Show total of command -->
        <div class="cartInfos">
            <h5>Quantité articles : {{nbProductInCart}} </h5>
            <h5>Total articles : {{total}} € TTC</h5>
            <a href="{{path('app.cart.order')}}" title="Commander">Commander</a>
        </div>

        <div class="wrapper_cart">
        
        
        <!-- Show detail of command -->
        {% for item in dataCart %}
            <div class="cartProductsWrapper">
                <ul class="cartProductsGallery">
                    <li>
                        <a href="" title="Fiche produit">
                            <img src="{{asset(item.srcPhoto)}}" alt="Photo produit">
                        </a>
                        <div class="cartProductsGalleryInfo">
                            <p class="cartProductsGalleryInfoTitre"><strong>{{item.product.title}}</strong></p>

                            <!-- show the color of product -->
                            {% if item.product.color.name == "blanc" %}
                                <p>Couleur : <span>{{item.product.color.name}} <span></p>
                            {% else %}
                                <p>Couleur : <span style="color: {{item.product.color.hexa}}">{{item.product.color.name}} <span></p>
                            {% endif %}
                            
                            <!-- show the size of product -->
                            <p>Taille : <span class="textUpper">{{item.product.size.name}}</span></p> 
                            
                            <p>Quantité : 
                                
                                <span class="textUpper">{{item.quantity}} </span>
                                <a href="{{path('app.cart.add', {'id': item.product.id})}}" class="btn_add_cart">+</a>
                                <a href="{{path('app.cart.remove', {'id': item.product.id})}}" class="btn_remove_cart">-</a>
                                {# <a href="path('app.cart.delete')" class="btn_delete_cart" >
                                    <img class="cartProductsSvgDelete" src="{{asset('/img/trash.svg')}}" alt="Supprimer">
                                </a> #}
                            </p>

                            <p>Prix unitaire : <span class="textUpper">{{item.product.price}} € TTC</span></p>
                        </div>
                        <div class="cartProductsGalleryPriceTotal">
                            <h5>Total article : {{item.product.price * item.quantity}} € TTC </h5>
                           
                        </div>
                    </li>
                </ul>
            </div>

        {% else %}
            <h2>Votre panier est vide</h2>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
