{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
{# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

    <div class="globalContainer">
    <div class="globalWrapper">
        <div class="accountContainer">
            <div class="accountMenu">
            <a href="{{path('app.profil', {'id': userId})}}" title="Gérer mon profil">Gérer mon profil</a>
            <a href="{{path('app.password', {'id': userId})}}" title="Modifier mot de passe">Modifier mot de passe</a>
            <a href="{{path('app.delete.user', {'id': userId})}}" title="Modifier mot de passe">Supprimer mon compte</a>
            <a href="{{path('app.logout')}}" title="Déconnexion">Se déconnecter</a>

            {% if userRole is same as "ROLE_ADMIN" %}
                <a href="{{path('app.admin.user')}}" title="Gérer les clients">Gérer les clients</a>
                <a href="" title="Gérer les produits">Gérer les produits</a>
                <a href="" title="Gérer les commandes">Gérer les commandes</a>
            {% endif %}
            </div>
        </div>
    
    </div>
</div>
{% endblock %}