{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

    {# Fiche product #}
    <div class="globalContainer">
        <div class="globalWrapper">
            <h2>Produit </h2>
            
            {# 1er photo #}
            <div class="productBigImage">
                <img id="bigImage" src="{{ asset(srcPhoto[0])}}" alt="Photo produit">
            </div>

            {# mini photos #}
            <div class="productMiniImages">
                <ul>
                    <li>
                        <img id="miniImage1" src="{{ asset(srcPhoto[1])}}" alt="Photo produit">
                    </li>
                    <li>
                        <img id="miniImage2" src="{{ asset(srcPhoto[2])}}" alt="Photo produit">
                    </li>
                    <li>
                        <img id="miniImage3" src="{{ asset(srcPhoto[3])}}" alt="Photo produit">
                    </li>
                </ul>
            </div>
            
            {# Info: color, size,price... #}
            <div class="productInfo">
                <h5>{{product.title}}</h5>
                <p>Couleur : <span class="textUpper" >{{color[0].name}} </span></p>
                <p>Taille : <span class="textUpper">{{size[0].name}} </span></p>
                <h6>Description</h6>
                    <p> {{product.description}}</p>
                <h6>Couleurs possibles</h6>
                <p>
                
                {% for c in colorTab %}
                    <span class="textUpper" >{{c.name}} </span>
                {% endfor %}
                </p>
                <h6>Tailles possibles</h6>
                <p>
                {% for s in sizeTab %}
                    <a href="" class="textUpper">{{s.name}}</a>
                {% endfor %}
                </p>

                <div class="productInfoPriceCart">
                    <p>{{product.price}} €</p>
                    {# change image cart if product out of stock #}
                    {% if product.stock > 0 %}
                        <a href="{{path('app.cart.add', {'id': product.id})}}" title="Ajouter au panier">
                            <img class="productInfoCart" src="{{asset('img/cart48.svg')}} " alt="Ajouter au panier">
                        </a>
                    {% else %}
                        <a href="" title="Rupture de stock">
                            <img class="productInfoCart" src="{{asset('img/nocart48.svg')}}" alt="Rupture de stock">
                        </a>
                    {% endif %}
                    
                </div>
            </div>
            
            
        </div>
    </div>

    {# Footer #}
    {% include "partial/footer.html.twig" %}
{% endblock %}