{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}
    
    {# Affiche #}
    <div class="indexImgWelcomeWrapper">
        <img src="{{ asset('img/accueil.jpg')}}" alt="image accueil">
        <div id="indexImgWelcomeOverlay">
            <h3>Le propre de l'homme est de vivre habillé en M. BOND (I. FLEMING)</h3>
        </div>
    </div>

    <h2>Nouveautés</h2>

    <div class="indexNewsWrapper">
        <ul class="indexNewsGallery">
        
            {% for newsproduct in newsProducts %}
            {# List of Product #}
            <li>
                {# Image #}
                <a href="#" title="Fiche produit">
                    <img src="{{ asset(srcPhoto[newsproduct.id]) }}" alt="Photo produit">
                </a>

                {# hover information of color & size available #}
                <div class="indexNewsGalleryOverlay">
                    <p><span class="textUpper">Couleurs possibles</span></p>
                    <p>
                        {% for color in newProductsColors[newsproduct.id] %}
                            <span class="textUpper" style="color: {{newsproduct.color.hexa}}">
                                {{color.name}}
                            </span>
                        {% endfor %}    

                    </p>
                    <p><span class="textUpper">Tailles possibles</span></p>
                    <p>
                        {% for size in newProductsSizes[newsproduct.id] %}
                            <span class="textUpper" style="">
                                <span class="textUpper">{{size.name}}</span>
                            </span>
                        {% endfor %} 
                    </p>
                </div>

                {# The information of the product #}
                <div class="indexNewsGalleryInfo">
                    <p class="indexNewsGalleryInfoTitre"><strong>{{newsproduct.title}}</strong></p>
                    
                    <p>couleur : <span style="color: {{newsproduct.color.hexa}}">{{newsproduct.color.name}}<span></p>
                
                    <p>Taille : <span class="textUpper">{{newsproduct.size.name}}</span></p>
                    <div class="indexNewsGalleryPriceCart">
                        <p>{{newsproduct.price}} €</p>
                        <a href="" title="Ajouter au panier" class="indexNewsLinkGalleryCart" data-product="{{newsproduct.id}}">
                            <img class="indexNewsGalleryCart" src="{{asset('img/cart48.svg')}}" alt="Ajouter au panier">
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    {# Footer #}
    {% include "partial/footer.html.twig" %}
{% endblock %}
