
<header>
    <h1>
        <a href="{{path('app.home')}}" title="Accueil M.BOND">
            <img class="headerImgLogo" src="{{asset('img/logo.png')}}" alt="logo">
        </a>
    </h1>

    <!-- search product -->
    {# <form action="" method="POST">
        <input type="search" name="searchShop" id="searchShop" placeholder="Rechercher">
        <button type="submit" id="submitSearchShop" name="submitSearchShop">
            <img class="headerSvgSearch" src="{{ asset('img/search48.svg')}}" alt="Rechercher">
        </button>
    </form> #}

    <div class="headerIconsWrapper">
        <a href="{{path('app.cart')}}" title="Mon panier" id="headerLinkCart">
            <img class="headerSvgCart" src="{{ asset('img/cart48.svg') }}" alt="Mon panier">
            <p id="headerNbProductOfCart">{{nbProductInCart}}</p>
        </a>
        <a href="{{ path('app.login') }}" title="Mon compte">
            <img class="headerSvgAccount" src="{{asset('img/account48.svg') }}" alt="Mon compte">
        </a>
    </div>
</header>

{% include "partial/navbar.html.twig" %}

