{% extends 'base.html.twig' %}

{% block title %}Admin user{% endblock %}

{% block body %}

    {# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

    <div class="container-admin-user">
        {# add new user #}
        <button class="btn-add-user">
            <a href="{{path('app.register')}}">Ajouter nouveau user</a>
            
        </button>

        {# search for user #}
        <div class="search-form" >
            {{ form_start(form,  {'attr': {'class': 'input-search-user'}} ) }}
                {{ form_widget(form.search, {'attr': {'class': 'searchUser'}}) }}
                {{ form_widget(form.submit, {'attr': {'class': 'btn-search-user' }} )}}
                
            {{ form_end(form) }}
        </div>

        
    </div>

    {# tables des users #}
    {% if not users is empty %}
        <div class="erreur">Users de recherche: {{userSearch}} avec {{ users.getTotalItemCount }} résultat</div>
        <div style="overflow-x:auto;">
            <table class="table-user"  cellspacing="0" border='1' cellspacing="0" cellpadding="0">
                <tbody>
                    <!--ID -->
                    <tr class="row-t-user">
                        <th>
                            ID
                        </th>
                        {% for user in users %}
                            <td>{{ user.id }}</td>
                        {% endfor %}
                    </tr>

                    <!--Civile -->
                    <tr class="row-t-user">
                        <th>
                            Civile
                        </th>
                        {% for user in users %}
                            <td>{{ user.civilite }}</td>
                        {% endfor %}
                    </tr>

                    <!--prenom -->
                    <tr class="row-t-user">
                        <th>
                            Prénom
                        </th>
                        {% for user in users %}
                            <td>{{ user.first_name }}</td>
                        {% endfor %}
                    </tr>

                    <!--nom -->
                    <tr class="row-t-user">
                        <th>
                            Nom
                        </th>
                        {% for user in users %}
                            <td>{{ user.last_name }}</td>
                        {% endfor %}
                    </tr>

                    <!--pseudo -->
                    <tr class="row-t-user">
                        <th>
                            Pseudo
                        </th>
                        {% for user in users %}
                            <td>{{ user.pseudo }}</td>
                        {% endfor %}
                    </tr>

                    <!--Email -->
                    <tr class="row-t-user">
                        <th>
                            Email
                        </th>
                        {% for user in users %}
                            <td>{{ user.email }}</td>
                        {% endfor %}
                    </tr>

                    <!--Tel -->
                    <tr class="row-t-user">
                        <th>
                            Tel
                        </th>
                        {% for user in users %}
                            <td>{{ user.tel }}</td>
                        {% endfor %}
                    </tr>

                    <!--Adresse -->
                    <tr class="row-t-user">
                        <th>
                            Adresse
                        </th>
                        {% for user in users %}
                            <td>{{ user.address }}</td>
                        {% endfor %}
                    </tr>

                    <!--Ville -->
                    <tr class="row-t-user">
                        <th>
                            Ville
                        </th>
                        {% for user in users %}
                            <td>{{ user.city }}</td>
                        {% endfor %}
                    </tr>

                    <!--CP -->
                    <tr class="row-t-user">
                        <th>
                            CP 
                        </th>
                        {% for user in users %}
                            <td> {{ user.pc }}</td>
                        {% endfor %}
                    </tr>

                    {# Action modify #}
                    <tr class="row-action">
                        <th>
                            Actions
                        </th>
                        {% for user in users %}
                            
                            <td class="btn-table">
                                {% if user.roles['0'] is not same as "ROLE_DELETED" %}
                                    <a class="btn-user-modify" href="{{path('app.profil', {'id': user.id})}}">Modifier</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                        
                    </tr>

                    {# Action delete #}
                    <tr class="row-action">
                        <th>
                            Actions
                        </th>
                        {% for user in users %}
                            <td class="btn-table">
                                {% if user.roles['0'] is not same as "ROLE_DELETED" %}
                                    <a class="btn-user-delete" href="{{path('app.delete.user', {'id': user.id})}}">Supprimer</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        {# display navigation #}
        <div >
            {{ knp_pagination_render(users) }}
        </div>
        

    {% else %}
        <h4> Il n'y a pas utilisateur à ce nom </h4>
    {% endif %}

{% endblock %}
