{% extends 'base.html.twig' %}

{% block title %}Admin user{% endblock %}

{% block body %}

    {# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

    <div class="container-admin-user">
        <button class="btn-add-user">
            <a href="{{path('app.register')}}">Ajouter nouveau user</a>
            
        </button>

            <div class="input-search-user">
        {{ form_start(form) }}
                {# {{ form_widget(form.search)}} #}
                {{ form_widget(form) }}
                {# <input type="submit" value="Rechercher"> #}
            {# {{ form_widget(form.submit)}} #}
        {{ form_end(form) }}
            </div>

    </div>


{% endblock %}
