{% extends 'base.html.twig' %}

{% block title %}Modifier profile{% endblock %}

{% block body %}


{# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

        <div id="container-profil">
        <div class="titre-profil">
            <h2>Modifier mot de passe</h2>
           
        </div>

        <div class="form-inscription" >
            {{ form_start(form) }}
                
                {# Password #}
                <div class="champs">
                    <div class="saisir">
                        {{ form_label(form.oldPassword)}}
                        {{ form_widget(form.oldPassword) }}
                    </div>
                     <div class="saisir">
                        {{form_label(form.newPassword)}}
                        {{ form_widget(form.newPassword) }}
                        <div class="erreur">
                            {{ form_errors(form.newPassword) }}
                        </div>
                    </div> 
                </div>

                <div >
                    {{ form_row(form.submit)}}
                </div>
            {{ form_end(form)}}
        </div>

        
    </div>
{% endblock %}