{% extends 'base.html.twig' %}

{% block title %}Modifier profile{% endblock %}

{% block body %}

{# Header & navbar #}
    {{ include('partial/header.html.twig')}}
    {{ include("partial/message.html.twig")}}

    <div id="container-profil">
        <div class="titre-profil">
            <h2>Modifier profil</h2>
           
        </div>

        <div class="form-inscription" >
            {{ form_start(form) }}
                <div class="saisir">
                    {{ form_label(form.civilite)}}
                    {{ form_widget(form.civilite) }}
                </div>
                <div class="champs">
                    <div class="saisir">
                        {{form_label(form.pseudo)}}
                        {{ form_widget(form.pseudo) }}
                        <div class="erreur">
                            {{ form_errors(form.pseudo) }}
                        </div>
                   </div>
                   <div class="saisir">
                        {{form_label(form.tel)}}
                        {{ form_widget(form.tel) }}
                        <div class="erreur">
                            {{ form_errors(form.tel) }}
                        </div>
                    </div>
                </div>
                
                <div class="champs">
                    <div class="saisir">
                        {{form_label(form.first_name)}}
                        {{ form_widget(form.first_name) }}
                        <div class="erreur">
                            {{ form_errors(form.first_name) }}
                        </div>
                    </div>
                    <div class="saisir">
                        {{form_label(form.last_name)}}
                        {{ form_widget(form.last_name) }}
                        <div class="erreur">
                            {{ form_errors(form.last_name) }}
                        </div>
                    </div>
                </div>
                <div class="champs">
                    <div class="saisir">
                        {{form_label(form.email)}}
                        {{ form_widget(form.email) }}
                        <div class="erreur">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="saisir">
                        {{form_label(form.address)}}
                        {{ form_widget(form.address) }}
                        <div class="erreur">
                            {{ form_errors(form.address) }}
                        </div>
                    </div>
                </div>
                <div class="champs">
                    <div class="saisir">
                        {{form_label(form.pc)}}
                        {{ form_widget(form.pc) }}
                        <div class="erreur">
                            {{ form_errors(form.pc) }}
                        </div>
                    </div>
                    <div class="saisir">
                        {{form_label(form.city)}}
                        {{ form_widget(form.city) }}
                        <div class="erreur">
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                </div>
                <div >
                    {{ form_end(form)}}
                </div>
        </div>

        
    </div>
{% endblock %}